/*Global Configuration Section*/
:root{
    /*Color Definitions*/
    --main-color: #ff9900;
    --gray-color-lighter: #f7f7f7f5;
    --gray-color: #ebebeb;
    --gray-color-deeper: #dcdcdc;
    --search-box-width: 35vh;
    --transparent-bg: rgba(255, 255, 255, 0.85);
}
#mobile-hidden{
    display:none;
}
.main-view{
    margin: 7px;
    margin-top: 75px;
}
.page-title{
    font-weight: 700;
}
/* Title Box Section */
.title-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: fit-content;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--main-color);
    z-index: 1000;
}
.search-box{
    display: flex;
    margin: 5px;
    padding: 5px;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}
.search-input-area{
    display: flex;
    width: var(--search-box-width);
    height: fit-content;
    justify-content: flex-start;
}
.search-input-area Input{
    margin-right: 5px; 
    background-color: var(--transparent-bg); 
    display: inline-block;
}
.search-suggestion-box{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: var(--search-box-width);
    height: fit-content;
    border-radius: 5px;
    top: 50px;
    padding: 7px;
    background-color: var(--transparent-bg);
    border-style: solid;
    border-width: 1px;
    border-color: var(--main-color);
}
.title-features-main-box{
    display: flex;
    flex-direction: column;
}
.title-features-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}
.title-features-item{
    margin-right: 5px;
    height: 40px;
}
.overlay-function-box{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 50px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--transparent-bg);
    border-style: solid;
    border-width: 1px;
    border-color: var(--main-color);
    align-items: center;
}

/* Mobile Footer Section */
.mobile-footer{
    position: sticky;
    margin: 0px;
    padding: 7px;
    bottom: 0;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
}

/* User Info Card */
.user-info-card{
    margin: 5px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    background-color: var(--gray-color);
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.user-info-content{
    display: flex;
    flex-direction: column;
}
.user-info-left-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user-info-brief-data{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}
.user-info-description-box{
    display: flex;
    flex-direction: column;
    background-color: var(--gray-color);
    width: auto;
    height: fit-content;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.user-info-description-box-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Login & Register Section */
.login-warning-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: fit-content;
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--gray-color);
}
.login-warning-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login-warning-button{
    margin-left: 5px;
    margin-right: 5px;
}
.main-box{
    display: flex;
    width: auto;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-main-box{
    display: flex;
    width: auto;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.login-right-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: auto;
    height: fit-content;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.05);
}
.login-template-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.login-description{
    color: gray;
    margin-top: 5px;
    margin-bottom: 5px;
}
.login-button-panel{
    display: flex;
    flex-direction: row;
}
.login-button{
    margin-right: 5px;
}
.input{
    margin: 5px !important; 
}

/* List Item */
.list-main-box{
    margin: 5px;
    padding: 7px;
    padding-left: 15px;
    border-radius: 5px;
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: var(--gray-color-lighter);
    transition: background-color 0.5s;
    font-size: larger;
    /* font-weight: 600; */
    cursor: pointer;
}
.list-main-box:hover{
    background-color: var(--gray-color-deeper);
}